
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url('../images/background-chat.png');
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.submit:hover {
    background-color: #f57a64;
    cursor: pointer;
}

.message-out {
    text-align: right;
}

.message-out>div {
    background: #FCF6C4;
}

.message-in {
    text-align: left;
}

.message-in>div {
    background-color: white;
}

#message-container::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

#message-container::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
}

#message-container::-webkit-scrollbar-thumb {
    background-color: #a5a5a5;
}

#message-container .row>div {
    border: 1px solid #c5c5c5;
    margin: 5px 0;
    display: inline-block;
    padding: 12px;
    max-width: 400px;
}

#message-container .row>div>span {
    display: block;
}

#message-container .row>div>span.author, #message-container .row>div>span.timestamp {
    color: #949494;
    font-size: 11px;
}

#message-container .row>div>span.message {
    margin: 10px 0;
}

#input-message {
    height: 40px;
    border: none;
    padding: 0 10px;
    width: 100%;
    border-radius: 3px;
}

.container {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding: 0 10px;
    overflow-y: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.box-input {
    background-color: #3898D4;
}

.container-input {
    display: flex;
    padding: 10px;
    max-width: 700px;
    margin: auto;
}

.container-input > .input-item {
    flex: 1;
}

.container-input > .submit-item {
    margin-left: 10px;
}


.submit {
    height: 40px;
    background: #FF8671;
    border: none;
    color: white;
    padding: 0 15px;
    border-radius: 3px;
}

.submit:disabled {
    background-color: #e49c90;
    cursor: not-allowed;
}
