body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-image: url('../images/background-chat.png');
}

.box-input {
    background-color: #3898D4;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.box-input .input-item {
    display: inline-flex;
}

.box-input .input-item, .box-input .submit-item {
    margin: 10px 0;
}

.flex {
    display: flex;
}

.flex>.input-item {
    flex-grow: 20;
}

.flex>.submit-item {
    flex-grow: 1;
    margin-left: 10px;
}

.submit:hover {
    background-color: #f57a64;
    cursor: pointer;
}

.message-out {
    text-align: right;
}

.message-out>div {
    background: #FCF6C4;
}

.message-in {
    text-align: left;
}

.message-in>div {
    background-color: white;
}

#message-container {
    height: calc(100vh - 63px);
    overflow-y: auto;
}

#message-container::-webkit-scrollbar-track
{
	background-color: #F5F5F5;
}

#message-container::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

#message-container::-webkit-scrollbar-thumb
{
	background-color: #a5a5a5;
}

#message-container .row>div {
    border: 1px solid #c5c5c5;
    margin: 5px 0;
    display: inline-block;
    padding: 12px;
}

#message-container .row>div>span {
    display: block;
}

#message-container .row>div>span.author, #message-container .row>div>span.timestamp {
    color: #949494;
    font-size: 11px;
}

#message-container .row>div>span.message {
    margin: 10px 0;
}

#input-message {
    height: 40px;
    width: 270px;
    border: none;
    padding: 0 10px;
    width: 100%;
    border-radius: 3px;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 10px;
}

.submit {
    height: 40px;
    background: #FF8671;
    border: none;
    color: white;
    padding: 0 10px;
    width: 100%;
    border-radius: 3px;
}

.submit:disabled {
    background-color: #e49c90;
    cursor: not-allowed;
}
